<header class='navbar navbar-fixed-top navbar-inverse'>
    <div clas='container'>
      <%= link_to 'Sample App', '#' , id:'logo' %>
    </div>
    <ul class='nav navbar-nav navbar-right'>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Help', help_path %></li>
      <li><%= link_to 'Log in', '#' %></li>
    </ul>
</header>